{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
    function validation(){
       if (assumption.top_up_amount.value == 0) {
           alert("積立金額を入力してください");
           return false;
       }
       else{
           return true;
           }
       }
</script>


{% endblock %}



{% block body %}
<h2 class="text-center mb-5">積立の計画を入力してください</h2>

<form class="form-horizontal" action="/" method="POST" name="assumption">
    <div class="form-group row my-3">
        <label class="col-sm-5 control-label" for="asset">積立する資産の名前</label>
        <div class="col-sm-6">
            <input type="text" placeholder="日本株" name="asset_name" class="form-control">
        </div>
    </div>

    <div class="form-group row my-3">
        <label class="col-sm-5 control-label" for="initial_amount">現在の資産額（円）</label>
        <div class="col-sm-6">
            <input class="form-control" type="float" inputmode="numeric" value="0" name="initial_amount">
        </div>
    </div>

    <div class="form-group row my-3">
        <label class="col-sm-5 control-label" for="top_up_amount">毎月積立する金額（円）</label>
        <div class="col-sm-6">
            <input class="form-control" type="float" name="top_up_amount">
        </div>
    </div>

    <div class="form-group row my-3">
        <label class="col-sm-5 control-label" for="return_ratio">想定する資産の利回り（年率, %）</label>
        <div class="col-sm-6">
            <input class="form-control" type="float" name="return_ratio">
        </div>
    </div>

    <div class="form-group row my-3">
        <label class="col-sm-5 control-label" for="duration_m">積立期間（月）</label>
        <div class="col-sm-6">
            <input class="form-control" type="number" name="duration_m">
        </div>
    </div>

    <div class="text-center my-5">
        <input type="submit" formaction="result" value="将来の金額を計算する"  class="btn btn-primary" onClick="return validation();">
    </div>

</form>

{% endblock %}